standalone.pdf
.DS_Store
*aux
CategoricalCoDesign.pdf
CategoricalCoDesign.synctex.gz
CategoricalCoDesign.toc
CategoricalCoDesign.out
tmp
CategoricalCoDesign.log
CategoricalCoDesign.aux
CategoricalCoDesign-blx.bibCategoricalCoDesign.fdb_latexmk
CategoricalCoDesign.fls
CategoricalCoDesign.run.xml
CategoricalCoDesign.fdb_latexmk
CategoricalCoDesign-blx.bib
*-blx.bib
*.log
*.out
*.run.xml
*.toc
ACT4E-ready.pdf
ACT4E-full.pdf
ACT4E-full-fast.pdf
*.bbl
*.blg
*.fdb_*
*.fls
papers/uncertainty/merged.pdf
*.synctex.gz
.idea
*.idx 

ACT4E-jonathan-blx.bib
ACT4E-jonathan.aux
ACT4E-jonathan.idx
ACT4E-jonathan.out
ACT4E-jonathan.pdf
ACT4E-jonathan.run.xml
ACT4E-jonathan.synctex.gz
ACT4E-jonathan.tex
ACT4E-jonathan.toc
ACT4E-jonathan.ilg
ACT4E-jonathan.ind
*.ilg
*.ind
*.mtc*
*.ptc*
*.maf
*.nlo
*.nls
*.gls
*.glo
used.yaml
ACT4E-vol*pdf
*synctex*
*.ddf
*auxlock
ACT4E-exercises
_minted-exercises
snippets/compmake
snippets/exercises1.py
snippets/exercises2.py
snippets/exercises3.py
snippets/exercises4.py
snippets/exercises5.py
snippets/exercises6.py
snippets/exercises7.py
snippets/exercises8.py
snippets/exercises1.pyo
snippets/exercises2.pyo
snippets/exercises3.pyo
snippets/exercises4.pyo
snippets/exercises5.pyo
snippets/exercises6.pyo
snippets/exercises7.pyo
snippets/exercises8.pyo
snippets/exercises1.rc
snippets/exercises2.rc
snippets/exercises3.rc
snippets/exercises4.rc
snippets/exercises5.rc
snippets/exercises6.rc
snippets/exercises7.rc
snippets/exercises8.rc
exercises.pdf
snippets/*.py
snippets/*.pyo

*.pyg
ACT4E-private/
ACT4E-exercises-template
*idlk
dist/print-feb19-8by10-11pt-press.pdf
dist/print-feb19-8by10-11pt.pdf
.python-version
solution-mcdps
snippets/incoming-EnumerableSet.rc
snippets/incoming-EnumerableSetsOperations-make_set_sequence.rc
snippets/incoming-EnumerableSetsOperations-union_esets.rc
snippets/incoming-FiniteAdjunction.rc
snippets/incoming-FiniteAdjunctionRepresentation.rc
snippets/incoming-FiniteAdjunctionsOperations-compose.rc
snippets/incoming-FiniteAdjunctionsOperations-from_relation.rc
snippets/incoming-FiniteAdjunctionsOperations-is_adjunction.rc
snippets/incoming-FiniteCategory.rc
snippets/incoming-FiniteCategoryOperations-arrow.rc
snippets/incoming-FiniteCategoryOperations-disjoint_union.rc
snippets/incoming-FiniteCategoryOperations-product.rc
snippets/incoming-FiniteCategoryOperations-twisted_arrow.rc
snippets/incoming-FiniteDP.rc
snippets/incoming-FiniteDPConstructors-companion.rc
snippets/incoming-FiniteDPConstructors-conjoint.rc
snippets/incoming-FiniteDPOperations-intersection.rc
snippets/incoming-FiniteDPOperations-series.rc
snippets/incoming-FiniteDPOperations-union.rc
snippets/incoming-FiniteEndorelationOperations-transitive_closure.rc
snippets/incoming-FiniteEndorelationProperties.rc
snippets/incoming-FiniteEnrichedCategory.rc
snippets/incoming-FiniteFunctor.rc
snippets/incoming-FiniteFunctorRepresentation.rc
snippets/incoming-FiniteJoinSemilattice.rc
snippets/incoming-FiniteLattice.rc
snippets/incoming-FiniteMap.rc
snippets/incoming-FiniteMapOperations-as_relation.rc
snippets/incoming-FiniteMapOperations-compose.rc
snippets/incoming-FiniteMapRepresentation.rc
snippets/incoming-FiniteMeetSemilattice.rc
snippets/incoming-FiniteMonoid.rc
snippets/incoming-FiniteMonoidRepresentation.rc
snippets/incoming-FiniteMonoidalPoset.rc
snippets/incoming-FiniteMonotoneMap.rc
snippets/incoming-FiniteMonotoneMapProperties-is_antitone.rc
snippets/incoming-FiniteMonotoneMapProperties-is_monotone.rc
snippets/incoming-FiniteNaturalTransformation.rc
snippets/incoming-FiniteNaturalTransformationRepresentation.rc
snippets/incoming-FinitePoset.rc
snippets/incoming-FinitePosetConstructors-discrete.rc
snippets/incoming-FinitePosetConstructors-intervals.rc
snippets/incoming-FinitePosetConstructors-intervals2.rc
snippets/incoming-FinitePosetConstructors-lowersets.rc
snippets/incoming-FinitePosetConstructors-powerset.rc
snippets/incoming-FinitePosetConstructors-uppersets.rc
snippets/incoming-FinitePosetOperations-disjoint_union.rc
snippets/incoming-FinitePosetOperations-opposite.rc
snippets/incoming-FinitePosetOperations-product.rc
snippets/incoming-FinitePosetProperties-height.rc
snippets/incoming-FinitePosetProperties-width.rc
snippets/incoming-FinitePosetRepresentation.rc
snippets/incoming-FinitePosetSubsetOperations-infimum.rc
snippets/incoming-FinitePosetSubsetOperations-join.rc
snippets/incoming-FinitePosetSubsetOperations-lowerclosure.rc
snippets/incoming-FinitePosetSubsetOperations-maximal.rc
snippets/incoming-FinitePosetSubsetOperations-meet.rc
snippets/incoming-FinitePosetSubsetOperations-minimal.rc
snippets/incoming-FinitePosetSubsetOperations-supremum.rc
snippets/incoming-FinitePosetSubsetOperations-upperclosure.rc
snippets/incoming-FinitePosetSubsetProperties-is_antichain.rc
snippets/incoming-FinitePosetSubsetProperties-is_chain.rc
snippets/incoming-FiniteProfunctor.rc
snippets/incoming-FiniteProfunctorOperations-series.rc
snippets/incoming-FiniteProfunctorRepresentation.rc
snippets/incoming-FiniteRelation.rc
snippets/incoming-FiniteRelationProperties.rc
snippets/incoming-FiniteRelationRepresentation.rc
snippets/incoming-FiniteSemiCategory.rc
snippets/incoming-FiniteSemigroup.rc
snippets/incoming-FiniteSemigroupConstruct-free.rc
snippets/incoming-FiniteSemigroupRepresentation.rc
snippets/incoming-FiniteSet.rc
snippets/incoming-FiniteSetOperations-disjoint_union.rc
snippets/incoming-FiniteSetOperations-product.rc
snippets/incoming-FiniteSetOperations.rc
snippets/incoming-FiniteSetOperations2.rc
snippets/incoming-FiniteSetProperties-is_subset.rc
snippets/incoming-FiniteSetRepresentation.rc
snippets/incoming-MonoidalPosetOperations-is_monoidal_poset.rc
snippets/incoming-Setoid.rc
snippets/incoming-SetoidOperations-intersection_setoids.rc
snippets/incoming-SetoidOperations-union_setoids.rc
snippets/incoming-act4e_book_examples.empty.rc
snippets/incoming-act4e_book_examples.f1.rc
snippets/incoming-act4e_book_examples.f2.rc
snippets/incoming-adj1.rc
snippets/incoming-cat1.rc
snippets/incoming-dp1.rc
snippets/incoming-fun1.rc
snippets/incoming-map1.rc
snippets/incoming-monoid1.rc
snippets/incoming-nat1.rc
snippets/incoming-parts1.rc
snippets/incoming-poset1.rc
snippets/incoming-prof1.rc
snippets/incoming-rel11code.rc
snippets/incoming-set1code.rc
snippets/incoming-sm1.rc
