_minted-exercises
.DS_Store
.idea
.netlify
.python-version
.tmpfile
.vscode
*-blx.bib
*-stable.pdf
*.back
*.bak
*.bbl
*.blg
*.ddf
*.dep
*.fdb_*
*.fls
*.glo
*.gls
*.idx 
*.ilg
*.ind
*.log
*.maf
*.mp4
*.mtc*
*.mw
*.nlo
*.nls
*.out
*.ptc*
*.pyg
*.run.xml
*.synctex.gz
*.tdo
*.tex.inc
*.tmp
*.toc
*.aux
*.auxlock
*.idlk
*.synctex*
*warnings.txt
# Local Netlify folder
ACT4E-*.pdf
ACT4E-autograder
ACT4E-exercises
ACT4E-exercises-template
ACT4E-full-fast.pdf
ACT4E-full.pdf
ACT4E-jonathan-blx.bib
ACT4E-jonathan.aux
ACT4E-jonathan.idx
ACT4E-jonathan.ilg
ACT4E-jonathan.ind
ACT4E-jonathan.out
ACT4E-jonathan.pdf
ACT4E-jonathan.run.xml
ACT4E-jonathan.synctex.gz
ACT4E-jonathan.tex
ACT4E-jonathan.toc
ACT4E-map
ACT4E-map-out/
ACT4E-private/
ACT4E-ready.pdf
ACT4E-solutions
ACT4E-vol*pdf
ACT4E*pdf
cache-minted
CategoricalCoDesign-blx.bib
CategoricalCoDesign-blx.bibCategoricalCoDesign.fdb_latexmk
CategoricalCoDesign.aux
CategoricalCoDesign.fdb_latexmk
CategoricalCoDesign.fls
CategoricalCoDesign.log
CategoricalCoDesign.out
CategoricalCoDesign.pdf
CategoricalCoDesign.run.xml
CategoricalCoDesign.synctex.gz
CategoricalCoDesign.toc
chapter-standalone-*pdf
chapter-standalone-*pdf
chapter-standalone-fast.pdf
chapter-standalone.pdf
dist/print-feb19-8by10-11pt-press.pdf
dist/print-feb19-8by10-11pt.pdf
equations/tmp-*
exercises.pdf
generated/used-vol1.yaml
gh-pages
papers/uncertainty/merged.pdf
part-sta*pdf
part-standalone-fast.pdf
part-standalone.pdf
snippets/*.py
snippets/*.pyo
snippets/*.rc 
snippets/compmake
snippets/snippets
solution-*
solution-mcdps
standalone.pdf
symbols-table-tmp.pdf
symbols-table.pdf
tmp
tmp-chapter-*
tmp-part-*
used.yaml
volumes/vol-playground
volumes/vol-codesign-book
equations/vol-playground
book-proposal/main.pdf
*.pdf
volumes/XX_thesis
thesis.tex
thesisrefs.bib
utils/packages_thesis.tex
utils/preamble_thesis.tex
ACT4E-thesis.tex
*.lof
*.lot
utils/symbols-thesis.tex
pics-thesis/
act4e-thesis-sonder.tex
volumes/vol-mcdp
snippets/*/*.html
.backups
