.DS_Store
*aux
CategoricalCoDesign.pdf
CategoricalCoDesign.synctex.gz
CategoricalCoDesign.toc
CategoricalCoDesign.out
tmp
CategoricalCoDesign.log
CategoricalCoDesign.aux
CategoricalCoDesign-blx.bibCategoricalCoDesign.fdb_latexmk
CategoricalCoDesign.fls
CategoricalCoDesign.run.xml
CategoricalCoDesign.fdb_latexmk
CategoricalCoDesign-blx.bib
