cbor2==5.4.2
Pygments==2.11.2
SystemCmd-z7==7.3.2201261049
# xtermcolor==1.0.1

zuper-testint-z7
zuper-loghandle-z7
zuper-notes-z7
PySnip-z7>=6
LatexSymbolManager-z7>=7.1.2109171602
stringify
Pygments
