version: 2
workflows:
  version: 2
  build:
    jobs:
    - build-devel:
        context: alphubel-stage
#    - build-devel-slides:
#        context: alphubel-stage
#        requires:
#        - build-devel
    - build-public:
        context: alphubel-stage
#        requires:
#        - build-devel
    - build-instructors:
        context: alphubel-stage
#        requires:
#        - build-devel
    - docs-deploy:
        requires:
        - build-devel
        - build-public
        - build-instructors
        filters:
          branches:
            only: alphubel-stage-AC-
jobs:
  build-devel:
    resource_class: large
    environment: &environment
      max_print_line: "1000"
      error_line: "254"
      half_error_line: "238"
    docker: &DOCKER
    - image: act4e/act4e-build:alphubel-2024
#      auth:
#        username: $DOCKER_USERNAME
#        password: $DOCKER_PASSWORD
    steps:
    - checkout
    - store_artifacts:
        path: build-stats
        destination: build-stats
    - run:
        name: download-solutions
        command: |
          git clone -b alphubel-stage git@github.com:ACT4E/ACT4E-solutions.git
    - run: &check_no_tabs
        name: Check no tabs
        command: |
          ./check_no_tabs.py .
    - run:
        name: Latex
        command: |
          mkdir _build
          make nomenc
          make table
          cp latexmkrc.batch  latexmkrc
          make ACT4E-devel-fast.pdf
          cp *log *warnings.txt _build
          cp .circleci/ACT4E-devel.manifest.yaml _build
    - run:
        name: encrypt
        command: |
          pdftk ACT4E-devel-fast.pdf output _build/ACT4E-devel.pdf owner_pw ${OWNER_PWD} user_pw ${USER_PWD}
          cd _build && tar cfvz ACT4E-devel.package.tgz ACT4E-devel.*
    - store_artifacts:
        path: _build
        destination: _build
    - persist_to_workspace:
        root: .
        paths:
        - _build
    - run: &check_no_missing_refs
        name: Check no missing or multiple references
        command: |
          ./check_no_undefined_refs.py *warnings.txt
          ./check_no_multiple_refs.py *warnings.txt
  build-instructors:
    resource_class: small
    environment: *environment
    docker: *DOCKER
    steps:
    - checkout
    - store_artifacts:
        path: build-stats
        destination: build-stats
    - run:
        name: instructors
        command: |
          git clone -b alphubel-stage git@github.com:ACT4E/ACT4E-solutions.git
    - run: *check_no_tabs
    - run:
        name: Latex
        command: |
          mkdir _build
          make nomenc
          make table
          cp latexmkrc.batch  latexmkrc
          make ACT4E-instructors-fast.pdf
          cp *log *warnings.txt _build
          cp .circleci/ACT4E-instructors.manifest.yaml _build
    - run:
        name: encrypt
        command: |
          pdftk ACT4E-instructors-fast.pdf output _build/ACT4E-instructors.pdf owner_pw ${OWNER_PWD} user_pw ${USER_PWD}
          cd _build && tar cfvz ACT4E-instructors.package.tgz ACT4E-instructors*
    - store_artifacts:
        path: _build
        destination: _build
    - persist_to_workspace:
        root: .
        paths:
        - _build
    - run: *check_no_missing_refs
  build-devel-slides:
    resource_class: large
    environment: *environment
    docker: *DOCKER
    steps:
    - checkout
    - run:
        name: instructors
        command: |
          git clone -b alphubel-stage git@github.com:ACT4E/ACT4E-solutions.git
    - run: *check_no_tabs
    - run:
        name: Latex
        command: |
          mkdir _build
          make nomenc
          make table
          cp latexmkrc.batch  latexmkrc
          make find-equations
          make -C equations -j 4
#          make ACT4E-devel-fastslides.pdf
#          cp *log *warnings.txt _build
#          cp .circleci/ACT4E-devel-slides.manifest.yaml _build
#    - run:
#        name: encrypt
#        command: |
#          pdftk  ACT4E-devel-fastslides.pdf output _build/ACT4E-devel-slides.pdf owner_pw ${OWNER_PWD} user_pw ${USER_PWD}

#          cd _build && tar cfvz ACT4E-devel-slides.package.tgz ACT4E-devel-slides.*

    - store_artifacts:
        path: _build
        destination: _build
    - persist_to_workspace:
        root: .
        paths:
        - _build
    - run: *check_no_missing_refs

  build-public:
    resource_class: small
    environment: *environment
    docker: *DOCKER
    steps:
    - checkout
    - run: *check_no_tabs
    - run:
        name: Latex
        command: |
          mkdir _build
          make nomenc
          make table
          cp latexmkrc.batch  latexmkrc
          make ACT4E-public-slow.pdf
          cp ACT4E-public-slow.pdf _build/ACT4E-public.pdf
          cp *log *warnings.txt _build
          cp .circleci/ACT4E-public.manifest.yaml _build
          cd _build && tar cfvz ACT4E-public.package.tgz ACT4E-public*
    - store_artifacts:
        path: _build
        destination: _build
    - persist_to_workspace:
        root: .
        paths:
        - _build
    - run: *check_no_missing_refs

  docs-deploy:
    docker:
    - image: node:8.10.0
    steps:
    - checkout
    - attach_workspace:
        at: tmp/workspace
    - run:
        name: Install and configure dependencies
        command: |
          #
          # npm install -g --silent gh-pages@2.0.1
          git config --global user.email "acensi@ethz.ch"
          git config --global user.name "ci-build"
    - run:
        name: git lfs
        command: |
          curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | bash
          apt-get install git-lfs -y
          git lfs install

    - run:
        name: Deploy docs to gh-pages branch
        command: |
          git clone --depth 1 -b gh-pages git@github.com:ACT4E/ACT4E.git docs
          cp templates/pages-index.html docs
          cp tmp/workspace/_build/* docs
          git -C docs add .
          git -C docs commit -a -m "update [ci skip]"
          git -C docs push
