<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (4.1)</string>
	<string>M9.2.1-6529-2</string>
	<string>M10.3.8-7029.8.2-2</string>
	<string>G-r1020-10DF05</string>
	<string>G-r1020-10DF07</string>
	<string>G-r1020-10DF10</string>
	<string>G-r1020-10DF12</string>
	<string>M10.3.9-7029.9.8-5</string>
	<string>G-r1020-10DF12</string>
	<string>M10.3.8-7029.8.2-2</string>
	<string>G-r1020-10DF16</string>
</array>
</plist>
