<html>
<head>
<title>Online resources for ACT4E</title>
</head>

<body>
<p> Resources for the <a href="https://applied-compositional-thinking.engineering">ACT4E</a> book.</p>

<h1>Videos</h1>
<p><a href='videos/index.html'>See here for the list of videos</a></p>


<h1>Books</h1>
<p><a href='ACT4E-public.pdf'>Volume 1, public version</a></p>

<p><a href='ACT4E-instructors.pdf'>Volume 1, instructors version, password protected</a></p>

<p><a href='ACT4E-devel.pdf'>Volume 1, development version, password protected</a></p>

</body>

</html>
