body {
    margin: 0;
    font-family: sans-serif;
    font-size: 0.9rem;
}

#toolbar {
    display: flex;
    align-items: center;
    background-color: #555;
    color: #fff;
    padding: 0.5em;
}

#toolbar button,
#page-mode input {
    color: currentColor;
    background-color: transparent;
    font: inherit;
    border: 1px solid currentColor;
    border-radius: 3px;
    padding: 0.25em 0.5em;
}

#toolbar button:hover,
#toolbar button:focus,
#page-mode input:hover,
#page-mode input:focus {
    color: lightGreen;
}

#page-mode {
    /* display: flex; */
    align-items: center;
    padding: 0.25em 0.5em;
}

#viewport-container {
    flex: 1;
    background: #eee;
    overflow: auto;
}

#viewport {
    width: 90%;
    /* width: 50vw; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#viewport>div {
    text-align: center;
    max-width: 100%;
}

#viewport canvas {
    width: 100%;
    box-shadow: 0 2px 5px gray;
}

iframe {
    width: 70vw;
    height: 50vw;
    padding-left: 20em;
}

#app {
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 100vh; */
    /* width: 70vw; */
    padding-left: 20em;
}

h1 {
    text-align: center;
}

div.previous {
    position: absolute;
    left: 2em;
    top: 1em;
}

div.next {
    position: absolute;
    right: 2em;
    top: 1em;
}

div.up {
    position: absolute;
}